:root {
  font-family: 'Space Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: #0c1214;

  --black-card-text: white;
  --black-card-helper-text: #d1d5db;
  --white-card-background: #fafaf9;
  --shadow: #9ca3af;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color-scheme: light only;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  flex: 1;
  display: flex;
  margin: 0;
  min-width: 320px;
  padding: 1em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #0c1214;
    background-color: #ffffff;
    --black-card-text: #0c1214;
    --black-card-helper-text: #374151;
    --white-card-background: #f5f5f4;
    --shadow: #000;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

p {
  text-align: start;
  margin: 0;
}

.full-width {
  width: auto;
  min-width: 100%;
  min-height: 6vh;
  text-transform: capitalize;
}

button {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-decoration: none;
  color: #000;
  background-color: #f8fafc;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

@media (min-width: 768px) {
  button {
    padding: 0.25em 0.75em;
  }
}
button[disabled='disabled'],
button:disabled {
  color: #9ca3af;
}
